<style>
    h4 {
        padding: 5px;
    }
</style>

<div class="col-xs-9">
    <div style="background-color: #f5e79e">
        <h4>Income<a href="/income/new"> <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
    </div>
    <div style="background-color: #d0e9c6 ">
        <h4>Bills<a href="/bills/new"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
    </div>
    <div style="background-color: blanchedalmond ">
        <h4>Loans<a href="/loans/new"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
    </div>
    <div style="background-color: lightcoral">
        <h4>Credit Cards<a href="/creditcards/new"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
    </div>
    <div style="background-color: greenyellow">
        <h4>Funds<a href="/funds/new"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></h4>
    </div>
    <div style="background-color: lightblue">
        <h4>Household Expenses</h4>
    </div>
    <div style="background-color: lightgray">
        <h4>Summary</h4>
    </div>
</div>
<div class="col-xs-3">
    <div style="background-color: #2aabd2">
        <h4>Household Expenses Breakdown</h4>
    </div>
</div>
